*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:  rgb(90, 88, 88);
}

button{
    cursor: pointer;
}













  .nav-buttons::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  
  .nav-buttons::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
  .nav-buttons::-webkit-scrollbar-thumb
  {
      background-color: #0ae;
      border-radius: 5px;
      
      background-image: -webkit-gradient(linear, 0 0, 0 100%,
                         color-stop(.5, rgba(255, 255, 255, .2)),
                         color-stop(.5, transparent), to(transparent));
  }














.nav-buttons{
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 25px 10px 5px;
    background-color: rgb(51, 48, 48);

}
.nav-buttons button{
    background: rgb(9, 140, 228);
    padding: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


.main-container{
    color: white;
}

.module-title{
    display: inline-block;
    width: 80%;
    text-align: center;
    padding: 5% 10%;
}



.book{
    text-align: center;
    padding: 30px;
    background-color: rgb(37, 35, 35);
    border-radius: 15px;
    margin: 10px;

}

.book *{
    padding: 5px;
}



.buy-buttons button{
    background-color: orange;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}




.button-up{
    position: fixed;
    left: 90%;
    top: 90%;
    background-color: rgb(9, 140, 228);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    display: none;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

.modal button{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: none;
    border: none;
    outline: none;
}















.hidden{
    
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    width: 0;
    height: 0;
}





