*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:  rgb(90, 88, 88);
}


.nav-buttons{
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 25px 10px 5px;
    background-color: rgb(51, 48, 48);

}
.nav-buttons button{
    background: rgb(9, 140, 228);
    padding: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


.main-container{
    color: white;
}

.module-title{
    display: inline-block;
    width: 80%;
    text-align: center;
    padding: 5% 10%;
}



.book{
    text-align: center;
    padding: 30px;
    background-color: rgb(37, 35, 35);
    border-radius: 15px;
    margin: 10px;

}

.book *{
    padding: 5px;
}





.hidden{
    
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    width: 0;
    height: 0;
}